*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    width: 100%;
    max-width: 1100px;
    padding: 0 16px;
    margin: auto
}


.header{
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background: #0005;
}
.navbar{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
.navbar__logo{
    color: #000;
    font-size: 40px;
}
    .navbar__box{
        display: flex;
        align-items: center;
        gap: 150px;
    }
    .navbar__collection{
        display: flex;
        gap: 30px;
    }
    .navbar__item{
        color:#fff;
        font-weight: 600;
        transition: .3s;
        font-size: 30px;
    }
    .navbar__item:hover{
        color:#ddd;
        transform: scale(.9);
    }
    
    
.login__parent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    margin: auto;
}
.login__box{
    margin-top: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    box-shadow: 0 0 10px #0009;
    border-radius: 20px;
}
.form{
    display: flex;
    align-items: center;
    background: transparent;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    outline: none;
}
.form__input-username{
    height: 60px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    color: #ddd;
    outline: none;
    &:hover{
        border: 1px solid #0006;
    }
}
.form__input-password{
    height: 50px;
    width: 100%;
    border: 1px solid rgb(226, 223, 223);
    padding: 10px;
    border-radius: 10px;
    color:black;
    margin-bottom: 20px;
    outline: none;
    &:hover{
        border: 1px solid #0006;
    }
}
.btn{
    width: 80%;
    height: 48px;
    border-radius: 5px;
    background:blue;
    color:#fff;
    border: none;
    transition: .25s;
    font-size: 18px;
}
.forgot{
    height: 50px;
    border-radius: 5px;
    background:transparent;
    color:#0005;
    border: none;
    transition: .25s;
    font-size: 18px;
}
.new{
    width: 80%;
    height: 49px;
    border-radius: 5px;
    background:rgb(228, 210, 135);
    color:rgb(72, 72, 72);
    border: none;
    transition: .25s;
    font-size: 18px;
}
hr{
    width: 100%;
    margin-bottom: 20px;
}
.admin{
    margin-top: 200px;
    display: flex;
    align-items: center;
}
.card{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 gainsboro;
    background: transparent;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 20px;
}
.email{
    display: flex;
    margin-right: 30px;
}
.click{
    width: 200px;
    height: 49px;
    border-radius: 5px;
    background:rgb(228, 210, 135);
    color:rgb(72, 72, 72);
    border: none;
    transition: .25s;
    font-size: 18px;
    margin-top: 40px;
}
