* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #F0F2F5;
}

.hero__container {
    max-width: 1248px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.container {
    max-width: 1161px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

a {
    color: inherit;
    text-decoration: inherit;
    font-size: 26px;
}

li {
    list-style: none;
}

input {
    outline: none;
}

img {
    max-width: 100%;
}